@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/b3771ccc-afac-4b94-9579-df15bdb0288c/Pinky%20Show.ttf?v=1739291465147");
}

body {
  background-color: navy;
  text-align: center;
  color: blue
    ;
  margin: auto;
  font-family: water;
}

h1{
  font-size: 30px;
}

#myCanvas {
 
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/006/852/412/small_2x/under-the-sea-background-free-vector.jpg");
  background-size: 600px 400px;
  border-radius: 300px;
  border: 5px solid white;
}



